<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amadeus Travel Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png" />
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/signin.css">
</head>

<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="../img/logo.png" alt="logo" class="logo"></a>
            <ul>
                <li><a href="#" onclick="openIn(click);" style="width:auto;">Đăng nhập</a></li>
                <li><a>|</a></li>
                <li><a href="#" onclick="openUp(click);" style="width:auto;">Đăng ký</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="textBox">
                <h2>It's not just Tool<br>It's <span class="tabimg title1 active">Consolidator</span><span class="tabimg title2">Business</span><span class="tabimg title3">System</span></h2>
                <p class="tabimg img1 active">Ứng dụng công nghệ giúp các Đại lý du lịch nâng cao năng lực cạnh tranh, phát triển thị trường thương mại điện tử.<br><br>Giải pháp công nghệ cung cấp cho Quý đại lý một hệ thống quản lý khách hàng, đại lý con, phát triển bán hàng trực
                    tuyến ưu việt. Phân cấp, chia quyền, quản lý ký quỹ cho các giao dịch.</p>
                <p class="tabimg img2">Hệ thống mang đến cho quý đại lý giải pháp đặt vé máy bay thuận tiện, nhanh chóng, chính xác mà không cần học câu lệnh.<br><br>Hệ thống tích hợp công cụ tìm kiếm, đặt giữ chỗ và xuất vé máy bay nhanh chóng. Giải pháp hiệu quả, quản lý
                    chi tiết, giúp các nhân viên có thể thực hiện tốt công việc của mình một cách nhanh chóng và chính xác.</p>
                <p class="tabimg img3">Giao diện dễ thao tác, dễ quản lý, hệ thống có thể dùng trên bất kỳ thiết bị nào miễn là có thể truy cập Internet.<br><br>Báo cáo chi tiết toàn bộ giao dịch đặt chỗ, xuất vé, hủy vé khi Đại lý, người dùng thao tác trên hệ thống. Quản trị,
                    xử lý đặt chỗ, báo cáo, phân tích lưu lượng sử dụng.</p>
                <a href="#" class="btn" onclick="openUp(click);" style="width:auto;"><span>Đăng ký</span></a>
            </div>
            <div class="imgBox">
                <img src="../img/img1.png" alt="" class="slide">
            </div>
        </div>
        <ul class="thumb">
            <li><img src="../img/thumb1.png" onclick="changeSlider('../img/img1.png', '.img1', '.title1')"></li>
            <li><img src="../img/thumb2.png" onclick="changeSlider('../img/img2.png', '.img2', '.title2')"></li>
            <li><img src="../img/thumb3.png" onclick="changeSlider('../img/img3.png', '.img3', '.title3')"></li>
        </ul>
        <ul class="social">
            <li>
                <a href="#"><img src="../img/facebook.png"></a>
            </li>
            <li>
                <a href="#"><img src="../img/twitter.png"></a>
            </li>
            <li>
                <a href="#"><img src="../img/instagram.png"></a>
            </li>
        </ul>
    </section>
    <section id="modal" class="modal">
        <div class="container animate">
            <div id="form-1" class="user signinBx">
                <div class="imgBx"><img src="../img/login.png"></div>
                <div class="formBx">
                    <span onclick="closeModal(click);" class="close" title="Close Modal"><img src="../img/close.png" alt="X"/></span>
                    <form action="">
                        <h2>Đăng nhập</h2>
                        <div class="form-group">
                            <input id="username" name="username" type="text" placeholder="Tên đăng nhập" class="form-control">
                            <span id="message" class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <input id="passwordlogin" name="passwordlogin" type="password" placeholder="Mật khẩu" class="form-control">
                            <span class="show-btn"><i class="fas fa-eye"></i></span>
                            <span class="form-message"></span>
                        </div>
                        <button class="form-submit btn-11">Đăng nhập</button>
                        <p class="signup"><a href="#" onclick="forgotPass(click);">Đặt lại mật khẩu</a></p>
                        <p class="signin">Mở tài khoản
                            <a href="#" class="signin" onclick="toggleForm();">Đăng ký</a>
                        </p>
                    </form>
                </div>
            </div>
            <div id="form-3" class="user forgotPass">
                <div class="imgBx"><img src="../img/forgot.png"></div>
                <div class="formBx">
                    <span onclick="closeModal(click);" class="close" title="Close Modal"><img src="../img/close.png" alt="X"/></span>
                    <form action="">
                        <h2>Bạn quên mật khẩu</h2>
                        <p>Hướng dẫn đặt lại mật khẩu sẽ được gửi qua email đã đăng ký</p>
                        <div class="form-group">
                            <input id="usernameforpass" name="username" type="text" placeholder="Tên đăng nhập" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <button class="form-submit btn-10">Gửi Email</button>
                        <p class="forgot">
                            <a href="#" onclick="openIn(click);"><img src="../img/backicon.png">Quay lại</a>
                        </p>
                    </form>
                </div>
            </div>
            <div id="form-4" class="user otp">
                <div class="imgBx"><img src="../img/login.png"></div>
                <div class="formBx">
                    <span onclick="closeModal(click);" class="close" title="Close Modal"><img src="../img/close.png" alt="X"/></span>
                    <form action="">
                        <h2>Đăng nhập</h2>
                        <div class="form-group">
                            <input id="usernameotp" name="username" type="text" placeholder="Tên đăng nhập" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <input id="otp" name="OTP" type="text" placeholder="Nhập OTP" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <input id="passwordotp" name="passwordlogin" type="password" placeholder="Mật khẩu" class="form-control">
                            <span class="show-btn"><i class="fas fa-eye"></i></span>
                            <span class="form-message"></span>
                        </div>
                        <button class="form-submit btn-11">Đăng nhập</button>
                        <p class="signup"><a href="#" onclick="forgotPass(click);">Đặt lại mật khẩu</a></p>
                        <p class="signin">Mở tài khoản
                            <a href="#" class="signin" onclick="toggleForm();">Đăng ký</a>
                        </p>
                    </form>
                </div>
            </div>
            <div id="form-2" class="user signupBx">
                <div class="formBx">
                    <span onclick="closeModal(click);" class="close" title="Close Modal"><img src="../img/close.png" alt="X"/></span>
                    <form action="">
                        <h2>Đăng ký tài khoản</h2>
                        <div class="form-group">
                            <input id="fullname" name="fullname" type="text" placeholder="Họ và Tên" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <span class="form-message"></span>
                        <div class="form-group">
                            <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group">
                            <input id="tel" name="tel" type="text" placeholder="Số điện thoại" class="form-control">
                            <span class="form-message"></span>
                        </div>
                        <button class="form-submit btn-11">Đăng ký</button>
                        <p class="signup">Bạn đã có tài khoản?
                            <a href="#" onclick="toggleForm();">Đăng nhập</a>
                        </p>
                    </form>
                </div>
                <div class="imgBx"><img src="../img/Logup.png "></div>
            </div>
        </div>
    </section>
    <script src="../static/js/main.js "></script>
    <script src="../static/js/form-validator.js "></script>
    <script>
        Validator({
            form: '#form-1',
            errorSelector: '.form-message',
            formGroupSelector: '.form-group',
            rules: [
                Validator.isRequired('#username', 'Vui lòng nhập tài khoản'),
                Validator.isRequired('#passwordlogin'),
                // Validator.minLength('#passwordlogin', 6),
            ],
            onSubmit: function(data) {
                console.log(data);
                if (data.username == "thanhquangfuture") {
                    modal.style.display = "block";
                    signin.style.display = "none";
                    otp.style.display = "flex";
                } else {
                    document.getElementById("message").innerHTML = '<span style="color:blue">Bạn nhập sai tên đăng nhập hoặc password</span>'
                };
            }
        });
        Validator({
            form: '#form-2',
            errorSelector: '.form-message',
            formGroupSelector: '.form-group',
            rules: [
                Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'),
                Validator.isRequired('#email', 'Vui lòng nhập email'),
                Validator.isEmail('#email'),
                Validator.isRequired('#tel', 'Vui lòng nhập số điện thoại'),
            ],
            onSubmit: function(data) {
                console.log(data);
            }
        });
        Validator({
            form: '#form-3',
            errorSelector: '.form-message',
            formGroupSelector: '.form-group',
            rules: [
                Validator.isRequired('#username', 'Vui lòng nhập tài khoản'),
            ],
            onSubmit: function(data) {
                console.log(data);
            }
        });
    </script>
</body>

</html>