* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: block;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.dFlex, header, header nav .menu, header nav .menu ul, .booking_info .option,
.booking_info .service, .booking_info .option span,
.booking_info .service span, .booking_details, .booking_details .items .cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 150vh;
  display: flex;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #03a9f43b, white, white);
  transform-style: preserve-3d;
  flex-direction: column;
  outline: none;
}

.container img {
  perspective: 100vh;
  transform-style: preserve-3d;
}

header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 10%;
  color: #005eb8;
  z-index: 15;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav .logo {
  width: 80px;
}

header nav .logo img {
  max-width: 80px;
  padding-top: 10px;
}

header nav .menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

header nav .menu ul img {
  width: 20px;
  margin: 10px 5px 0 0;
}

header nav .menu ul .nav {
  font-size: 16px;
  position: relative;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  margin-left: 40px;
  display: block;
  align-items: center;
  justify-content: center;
}

header nav .menu ul .nav .subnav {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 165px;
  padding-top: 5px;
}

header nav .menu ul .nav .subnav .subnavli {
  width: 166px;
  height: 30px;
  align-content: center;
  margin: 5px auto;
  background: rgba(0, 95, 184, 0.2);
  border-radius: 5px;
  color: #111;
}

header nav .menu ul .nav .subnav .subnavli img {
  margin: 8px 0 0 8px;
}

header nav .menu ul .nav .subnav .subnavli span {
  font-size: 15px;
  margin: 5px 0 0 8px;
  position: absolute;
}

header nav .menu ul .nav .subnav .subnavli:hover {
  background: #005eb8;
  border-radius: 5px;
  color: #fff;
}

header nav .menu ul .nav.active,
header nav .menu ul .nav:hover {
  color: #005eb8;
  border-bottom: 0.2rem solid #005eb8;
  padding: .7px 0;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

header nav .menu ul .nav:hover .subnav {
  display: block;
}

.flight_search {
  display: block;
  text-align: center;
  width: 860px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  margin-top: 100px;
}

.booking_info .option,
.booking_info .service {
  justify-content: flex-start;
  position: relative;
  top: 30px;
  z-index: 1;
}

.booking_info .option img,
.booking_info .service img {
  width: 20px;
  margin-right: 8px;
}

.booking_info .option span,
.booking_info .service span {
  padding: 10px 20px;
  height: 70px;
  border-radius: 20px;
  background-color: #f0e9ff;
  cursor: pointer;
  align-items: flex-start;
  font-size: 14px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.booking_info .option span.active,
.booking_info .service span.active {
  background-color: #005eb8;
  color: #fff;
  z-index: 5;
}

.booking_info .option span + span,
.booking_info .service span + span {
  left: -15px;
  z-index: 1;
}

.booking_info .option span + span + span,
.booking_info .service span + span + span {
  left: -25px;
  z-index: 0;
}

.booking_info .option .way:hover,
.booking_info .service .way:hover {
  background-color: #005eb8;
  color: #fff;
}

.booking_info .service {
  position: absolute;
  right: 0;
}

.booking_info .service img {
  width: 30px;
  margin: 0px 5px 10px 0px;
}

.booking_info .service span {
  padding: 10px 20px;
  left: 25px;
  background-color: #f0e9ff;
}

.booking_info .service span + span {
  left: 15px;
  z-index: 1;
}

.booking_info .service span + span + span {
  left: 0px;
  z-index: 1;
}

.booking_info .service .mservice:hover {
  background-color: #005eb8;
  color: #fff;
}

.booking_details {
  background-color: #fff;
  height: 100%;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  box-shadow: 1px 1px 20px 0px rgba(50, 50, 50, 0.3);
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
  max-width: 860px;
  flex-wrap: wrap;
}

.booking_details .flights {
  display: flex;
  flex-wrap: wrap;
}

.booking_details .flights .more_flight {
  display: flex;
  flex-wrap: wrap;
}

.booking_details .flights .next_flight {
  display: flex;
  flex-wrap: wrap;
}

.booking_details .flights .btn {
  margin-left: 20px;
}

.booking_details .items {
  font-size: 12px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: left;
}

.booking_details .items span {
  display: inline;
  float: left;
}

.booking_details .items input,
.booking_details .items .form-control {
  border: none;
  outline: none;
  font-size: 16px;
}

.booking_details .items img {
  width: 18px;
}

.booking_details .items .fa {
  font-size: 14px;
  margin-right: 8px;
  color: #0a0a0a;
  display: inline-block;
}

.booking_details .items .date,
.booking_details .items .people {
  font-weight: 600;
  margin-bottom: 8px;
}

.booking_details .items .date .fa,
.booking_details .items .people .fa {
  margin-right: 0;
  margin-left: 2px;
  font-size: 14px;
}

.booking_details .items .cta {
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 12px;
  color: #005eb8;
  cursor: pointer;
  background-color: #005eb8;
  color: #fff;
  box-shadow: 0.1rem 0.1rem 0.1rem #005eb8;
}

.booking_details .items .cta:hover {
  background-color: rgba(1, 101, 194, 0.9);
}

.booking_details .items .counter-btn {
  position: relative;
  display: inline-block;
  height: 25px;
  text-align: top;
  vertical-align: top;
  font-size: 1.5em;
  font-weight: 300;
  width: 25px;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  cursor: pointer;
  outline: none;
}

.booking_details .items .counter-btn:hover {
  box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.3);
  color: #005eb8;
}

.booking_details .items .multi-btn {
  position: relative;
  display: inline-block;
  text-align: top;
  vertical-align: top;
  font-size: 30px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.3);
  cursor: pointer;
  outline: none;
  margin: 2px 25px 0 0;
}

.booking_details .items .multi-btn:hover {
  box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.3);
  color: #005eb8;
}

.booking_details .items .mul-down {
  font-size: 25px;
}

.booking_details .items .mul-down:hover {
  color: #f6685e;
}

.booking_details .items .guestNo {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.booking_details .items .tooltip {
  position: relative;
  display: inline-block;
}

.booking_details .items .tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 120px;
  color: #000;
  font-weight: 400;
  margin-left: 18px;
  text-align: left;
  margin-bottom: 40px;
  z-index: 1;
}

.booking_details .items .tooltip:hover .tooltiptext {
  visibility: visible;
}

.booking_details .item1,
.booking_details .item2 {
  padding-left: 5px;
  width: 280px;
  min-height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.booking_details .item1 .place_list,
.booking_details .item2 .place_list {
  width: 250px;
}

.booking_details .item3 {
  width: 130px;
  padding-left: 5px;
  min-height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.booking_details .item3 input {
  width: 110px;
}

.booking_details .item4,
.booking_details .item5,
.booking_details .item6,
.booking_details .item7 {
  max-height: 25px;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
}

.booking_details .item4 .fa,
.booking_details .item5 .fa,
.booking_details .item6 .fa,
.booking_details .item7 .fa {
  margin-left: -10px;
  color: rgba(50, 50, 50, 0.9);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.booking_details .item4 span,
.booking_details .item5 span,
.booking_details .item6 span,
.booking_details .item7 span {
  color: rgba(50, 50, 50, 0.3);
}

.booking_details .item4 input,
.booking_details .item5 input,
.booking_details .item6 input,
.booking_details .item7 input {
  border: none;
  margin-bottom: -5px;
  border-radius: 3px;
  width: 100%;
  outline: #f0e9ff;
  display: block;
}

.booking_details .item4 {
  border-left: 2px solid #005eb8;
  width: 155px;
}

.booking_details .item4 .fa {
  width: 90px;
}

.booking_details .item5,
.booking_details .item6 {
  width: 140px;
}

.booking_details .item7,
.booking_details .item8,
.booking_details .item9 {
  width: 270px;
  border-left: 2px solid #005eb8;
}

.booking_details .item7 input,
.booking_details .item8 input,
.booking_details .item9 input {
  font-size: 14px;
  margin-left: -10px;
  padding-left: 8px;
}

.booking_details .item7 .fa,
.booking_details .item8 .fa,
.booking_details .item9 .fa {
  margin-left: -5px;
}

.booking_details .item8 {
  width: 350px;
}

.booking_details .item8 input {
  width: 325px;
}

.booking_details .item9 {
  width: 180px;
}

.booking_details .item9 img {
  width: 20px;
}

.booking_details .item9 input {
  width: 120px;
  font-size: 16px;
  pointer-events: none;
}

.booking_details .search {
  width: 270px;
  padding: 0;
}

.booking_details .not-visible {
  visibility: hidden;
}

.booking_details .hidden {
  display: none;
}

.booking_details .hidden span {
  font-weight: 500;
  color: rgba(50, 50, 50, 0.6);
}

#place {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(23, 35, 44, 0.24), 0 -1px 5px 0 rgba(15, 53, 82, 0.2);
  z-index: 100;
  border-radius: 5px;
  animation: to-right .5s forwards;
  top: 0;
  left: 0;
  text-align: center;
}

#place input {
  width: 350px;
  padding: 10px;
}

#place .search_place {
  display: flex;
  justify-content: space-around;
  animation: to-top .5s forwards;
  font-size: 14px;
  width: 350px;
  height: 50px;
  padding: 0 10px;
}

#place .search_place .city_img {
  margin: auto;
}

#place .search_place .city_img img {
  width: 35px;
  border-radius: 5px;
}

#place .search_place .city_name {
  margin: auto;
  width: 270px;
  text-align: left;
  padding: 0 10px;
  font-weight: 450;
}

#place .search_place .city_name .city_country {
  height: 20px;
}

#place .search_place .city_name .airport {
  font-size: 12px;
  height: 20px;
  font-weight: 400;
}

#place .search_place .city_code {
  margin: auto;
  letter-spacing: .5px;
  text-align: right;
  width: 5ch;
}

#place .search_place:hover {
  transform: scale(1.05);
  color: #005eb8;
  background-color: rgba(160, 157, 153, 0.12);
  cursor: pointer;
}

.background_search {
  position: absolute;
  top: 60px;
  right: 0;
  width: 45%;
  z-index: 2;
}

.cloud {
  position: absolute;
  top: 0px;
  animation: cloud_1 60s;
  animation-iteration-count: infinite;
  width: 500px;
  z-index: 1;
}

.cloud2 {
  position: absolute;
  bottom: 70%;
  animation: cloud_2 70s;
  animation-iteration-count: infinite;
  width: 300px;
  z-index: 1;
}

.cloud3 {
  position: absolute;
  bottom: 80%;
  animation: cloud_2 100s;
  animation-iteration-count: infinite;
  width: 400px;
  z-index: 1;
}

.cloud4 {
  position: absolute;
  bottom: 70%;
  animation: cloud_2 110s;
  animation-iteration-count: infinite;
  width: 500px;
  z-index: 1;
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes to-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cloud_1 {
  from {
    transform: translateX(1900px);
  }
  to {
    transform: translateX(-900px);
  }
}

@keyframes cloud_2 {
  from {
    transform: translateX(1900px);
  }
  to {
    transform: translateX(-500px);
  }
}
/*# sourceMappingURL=flight.css.map */