#sig_cal {
    display: flex;
    position: relative;
}

#sig_calendar {
    display: none;
    position: absolute;
    min-height: 300px;
    width: max-content;
    border-radius: 20px;
    padding: 15px;
    overflow: hidden;
    z-index: 100;
    top: 30px;
    left: -30px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(253, 253, 253, 0.98);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 3px;
}

.scalendar_header {
    min-width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: #151426;
}

.schange_month {
    cursor: pointer;
    font-size: 30px;
    font-style: bolder;
    letter-spacing: 10px;
}

.schange_month pre {
    margin: 0;
}

.schange_month:hover {
    color: var(--main_color);
    transform: scale(1.2);
    align-items: center;
}

#next {
    float: right;
    margin-right: -10px;
}

.syear_picker {
    display: flex;
    align-items: center;
}

.syear_change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.syear_change pre {
    font-size: 25px;
    color: #005eb8;
    margin: 0;
}

.syear_change:hover {
    background-color: rgb(203, 239, 248);
}

.scalendar_week_day {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.scalendar_week_day div {
    display: grid;
    place-items: center;
    color: #015fb9;
    font-size: 18px;
}

.scalendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px 0;
    color: #151426;
    max-height: 300px;
}

.scalendar_days div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    animation: to-top 1s forwards;
}

.smonth_list {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 5px 10px 5px 0px;
    gap: 5px;
    transform: scale(1.5);
    pointer-events: none;
    visibility: hidden;
}

.smonth_list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    background: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

.smonth_list>div {
    display: grid;
    place-items: center;
}

.smonth_list>div>div {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.smonth_list>div>div:hover {
    background-color: rgb(203, 239, 248);
}

.stoday {
    background-color: #005eb8;
    border-radius: 50%;
    color: #fff;
}

.sold_day {
    color: rgb(158, 158, 158);
}

.seach_day {
    cursor: pointer;
}

.seach_day:hover {
    background-color: #005eb8;
    border-radius: 5px;
    color: #fff
}

.sselected_day {
    background-color: #005eb8;
    border-radius: 5px;
    color: #fff;
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}